* {
    margin: 0;
    padding: 0;
    color: white;
    /* border: solid red 1px; */
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(134, 73, 4);
    border-radius: 10px;
}

body {
    overflow-x: hidden;
}

/* Page 01 */

header {
    background-image: url(./assets/bg01.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: rgb(96, 98, 100);
}

.page01Sec01 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 85%;
    height: 80vh;
    margin-top: 75px;
}

.logoImg {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btnDiv01,
.btnDiv02 {
    width: 150px;
    height: 50px;
    /* transition: width 0.2s ease, height 0.2s ease; */
    transition: transform 0.15s;
}

.btnDiv01 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.btnDiv01:hover,
.btnDiv02:hover {
    transform: scale(1.1);
    z-index: 10;
}

.scrollDiv {
    animation: oscillate 1.7s ease-in-out infinite alternate;
}

@keyframes oscillate {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

/* Page 02 */

main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(27, 0, 0), rgb(0, 0, 0));
    position: relative;
}

.bgImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
}

.bgImg01 {
    left: -60%;
}

.bgImg02 {
    right: -60%;
}

.itemImg {
    width: 40%;
    height: 40%;
    object-fit: contain;
    position: absolute;
    overflow: hidden;
}

.burgerImg {
    top: 30%;
}

.pizzaImg {
    left: 60%;
}

.rollImg {
    bottom: 0px;
    left: 63%;
}

.page02Sec01 {
    width: 70%;
    text-align: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.page02Sec01 h1 {
    font-size: 28px;
    color: orangered;
    font-weight: 700;
}

.page02Sec02 {
    width: 70%;
    height: auto;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

.articleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page02Sec02 article {
    width: 200px;
    height: 60px;
    display: grid;
    grid-template-columns: 75% 1fr;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 0 10px;
}

.page02Sec02 article:hover {
    border: solid white 1px;
}

.page02Sec02 img {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.page02Icons {
    grid-row: 1/3;
    grid-column: 2/2;
}

.page02Sec02 h3 {
    font-size: 20px;
    font-weight: 700;
    color: orange;
}

.page02Sec02 h5 {
    font-size: 17px;
    font-weight: 600;
    color: rgb(206, 197, 181);
}


/* footer */
footer {
    width: 100%;
    height: auto;
    background-image: linear-gradient(0deg, black, rgb(27, 0, 0), rgb(61, 0, 0));
}

.ftrLogoImg {
    padding: 50px 0 0 20px;
    width: 250px;
}

.ftrBtnDiv {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin: 15px 0;
}

.ftrSec01 {
    display: grid;
    grid-template-rows: repeat(4, 1fr), auto;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.contentHead {
    grid-column: 1/3;
}

.ftrHead {
    font-weight: 700;
    margin: 5px 0;
}

.ftrList li {
    font-size: 14px;
    color: rgb(172, 169, 169);
}

.ftrList li:hover {
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.ftrSec02 hr {
    color: rgb(58, 24, 1);
}

.footer-p {
    font-size: 12px;
    color: rgb(172, 169, 169);
    padding: 20px;
}

/* Icon Styling */
.iconCollection {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;
    margin: 10px 0;
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.icon:hover {
    background-image: linear-gradient(to bottom right, white, rgb(207, 159, 0), rgb(185, 84, 1), rgb(141, 21, 0), rgb(14, 0, 0), rgb(0, 0, 0));
}

.brand {
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.icon:hover .brand {
    color: white;
    animation: pendulum 2.5s ease-in-out 3 alternate;
}

@keyframes pendulum {
    0% {
        transform: rotate(-30deg);
    }

    20% {
        transform: rotate(30deg);
    }

    40% {
        transform: rotate(-30deg);
    }

    60% {
        transform: rotate(30deg);
    }

    80% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }

}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

/* super small screen */

@media (max-width:350px) {
    .ftrSec01 {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);
    }

    .contentHead {
        grid-column: 1/1;
    }
}

/* tablet */
@media (min-width:570px) {
    .btnDiv {
        flex-direction: row;
        gap: 20px;
    }

    .page01Sec01 {
        width: 70%;
        font-size: 18px;
    }

    .page01Sec01 h1 {
        font-size: 40px;
    }

    .page02Sec01 {
        font-size: 18px;
    }

    .page02Sec01 h1 {
        font-size: 35px;
    }

    .page02Sec02 article {
        width: 250px;
    }

    .ftrSec01 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .contentHead {
        grid-column: 2/3;
        grid-row: 2/4;
    }

    .arrow {
        justify-content: end;
        padding-right: 10px;
    }
}

/* PC */
@media (min-width:950px) {
    .page01Sec01 {
        width: 60%;
        margin-top: 50px;
        font-size: 20px;
    }

    .page01Sec01 h1 {
        font-size: 50px;
    }

    .page02Sec01 {
        font-size: 20px;
    }


    .page02Sec01 h1 {
        font-size: 45px;
    }

    .page02Sec02 {
        top: 35%;
    }

    .articleDiv {
        flex-direction: row;
        gap: 30px;
    }

    .ftrSec01 {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        margin: 0 50px;
    }

    .contentHead {
        grid-column: 5/6;
        grid-row: 1/2;
    }

    .footer-p,
    .ftrSec02 hr {
        margin: 0 50px;
    }

    .ftrLogoImg {
        padding: 50px 0 0 70px;
        width: 300px;
    }
}