* {
    margin: 0;
    padding: 0;
    color: white;
    /* border: solid white 1px; */
}

header {
    background-image: url(./assets/bg01.jpg);
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.page01 {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 85%;
    height: 80vh;
    margin-top: 75px;
}

.logoImg {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.logoDiv {
    display: flex;
    justify-content: center;
}

.btnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.btnDiv01,
.btnDiv02 {
    width: 150px;
    height: 50px;
    /* transition: width 0.2s ease, height 0.2s ease; */
    transition: transform 0.2s;
}

.btnDiv01 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.btnDiv01:hover,
.btnDiv02:hover {
    transform: scale(1.1);
    z-index: 10;
}

.scrollDiv {
    animation: oscillate 1.7s ease-in-out infinite alternate;
}

@keyframes oscillate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

/* tablet */
@media (min-width:570px) {
    .btnDiv {
        flex-direction: row;
        gap: 20px;
    }

    .page01 {
        width: 70%;
        font-size: 18px;
    }

    .page01 h1 {
        font-size: 40px;
    }
}

/* PC */
@media (min-width:950px) {
    .page01 {
        width: 60%;
        margin-top: 50px;
        font-size: 20px;
    }

    .page01 h1 {
        font-size: 50px;
    }
}